.mk-responsive {
  position: relative;
  overflow: hidden;
  flex: 1 0 auto;
  max-width: 100%;
  display: flex;

  .mk-responsive--sizer {
    transition: padding-bottom 0.2s cubic-bezier(0.25, 0.8, 0.5, 1);
    flex: 1 0 0px;
    pointer-events: none;
  }

  .mk-responsive--content {
    flex: 1 0 0px;
    max-width: 100%;
    margin-inline-start: -100%;
  }
}
