@import './variables';

.mk-paper {
  background-color: #fff;
  border-color: #fff;
  color: rgba(0, 0, 0, 0.87);

  &.paper--shaped {
    border-radius: 24px 0;
  }

  &.paper--tile {
    border-radius: 0;
  }

  &.paper--outlined {
    border: thin solid rgba(0, 0, 0, 0.12);
  }
}
