.mkt-navigation-drawer {
  display: flex;
  flex-direction: column;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  pointer-events: auto;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, visibility, width;

  &:not(.theme--dark):not(.theme--light) {
    &:not(.mkt-navigation-drawer--outlined) {
      border-color: rgb(var(--mkt-surface));
      background: rgb(var(--mkt-surface));
      color: rgb(var(--mkt-text));
    }

    // &.mkt-toolbar--outlined {
    //   border-color: rgb(var(--mkt-text));
    //   background: transparent;
    //   color: rgb(var(--mkt-text));
    // }

    .mkt-navigation-drawer--border {
      background-color: rgba(var(--mkt-text), 0.12);
    }
  }

  &.theme--light {
    &:not(.mkt-navigation-drawer--outlined) {
      border-color: rgb(var(--mkt-surface--light));
      background: rgb(var(--mkt-surface--light));
      color: rgb(var(--mkt-text--light));
    }

    // &.mkt-toolbar--outlined {
    //   border-color: rgb(var(--mkt-text--light));
    //   background: transparent;
    //   color: rgb(var(--mkt-text--light));
    // }

    .mkt-navigation-drawer--border {
      background-color: rgba(var(--mkt-text--light), 0.12);
    }
  }

  &.theme--dark {
    &:not(.mkt-navigation-drawer--outlined) {
      border-color: rgb(var(--mkt-surface--dark));
      background: rgb(var(--mkt-surface--dark));
      color: rgb(var(--mkt-text--dark));
    }

    // &.mkt-toolbar--outlined {
    //   border-color: rgb(var(--mkt-text--dark));
    //   background: transparent;
    //   color: rgb(var(--mkt-text--dark));
    // }

    .mkt-navigation-drawer--border {
      background-color: rgba(var(--mkt-text--dark), 0.12);
    }
  }

  .mkt-navigation-drawer--wrap {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .mkt-navigation-drawer--border {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
  }

  &.mkt-navigation-drawer--fixed {
    position: fixed;
    z-index: 2003;
  }
  &.mkt-navigation-drawer--absolute {
    position: absolute;
  }

  //   &.is-open {
  //   }

  &:not(.mkt-navigation-drawer--is-bottom) {
    top: 0px;
    width: 256px;
    height: 100%;
  }

  &.mkt-navigation-drawer--is-bottom {
    max-height: 50%;
    height: 100%;
    top: auto;
    bottom: 0;
    min-width: 100%;
  }
}
