.mk-subheader {
  align-items: center;
  display: flex;
  height: 48px;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0 16px;

  color: rgba(0, 0, 0, 0.6);

  &.is--inset {
    margin-left: 56px;
  }
}
