.mkt-alert {
  display: block;
  font-size: 16px;
  margin-bottom: 16px;
  padding: 16px;
  position: relative;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

  .mkt-alert--wrapper {
    align-items: center;
    border-radius: inherit;
    display: flex;

    .mkt-alert--content {
      flex: 1 1 auto;
    }

    .mkt-alert--icon {
      align-self: flex-start;
      border-radius: 50%;
      height: 24px;
      min-width: 24px;
      position: relative;
      margin-right: 16px;
    }
  }

  &:not(.theme--dark):not(.theme--light) {
    &:not(.mkt-alert--outlined) {
      &:not(.mkt-alert--success):not(.mkt-alert--info):not(.mkt-alert--warning):not(.mkt-alert--error) {
        border-color: rgb(var(--mkt-surface));
        background: rgb(var(--mkt-surface));
        color: rgb(var(--mkt-text));
      }
      &.mkt-alert--success {
        border-color: rgb(var(--mkt-success));
        background: rgb(var(--mkt-success));
        color: rgb(var(--mkt-background));
      }
      &.mkt-alert--info {
        border-color: rgb(var(--mkt-info));
        background: rgb(var(--mkt-info));
        color: rgb(var(--mkt-background));
      }
      &.mkt-alert--warning {
        border-color: rgb(var(--mkt-warning));
        background: rgb(var(--mkt-warning));
        color: rgb(var(--mkt-background));
      }
      &.mkt-alert--error {
        border-color: rgb(var(--mkt-error));
        background: rgb(var(--mkt-error));
        color: rgb(var(--mkt-background));
      }
    }

    &.mkt-alert--outlined {
      &:not(.mkt-alert--success):not(.mkt-alert--info):not(.mkt-alert--warning):not(.mkt-alert--error) {
        border-color: rgb(var(--mkt-text));
        background: transparent;
        color: rgb(var(--mkt-text));
      }
      &.mkt-alert--success {
        border-color: rgb(var(--mkt-success));
        background: transparent;
        color: rgb(var(--mkt-success));
      }
      &.mkt-alert--info {
        border-color: rgb(var(--mkt-info));
        background: transparent;
        color: rgb(var(--mkt-info));
      }
      &.mkt-alert--warning {
        border-color: rgb(var(--mkt-warning));
        background: transparent;
        color: rgb(var(--mkt-warning));
      }
      &.mkt-alert--error {
        border-color: rgb(var(--mkt-error));
        background: transparent;
        color: rgb(var(--mkt-error));
      }
    }
  }

  &.theme--light {
    &:not(.mkt-alert--outlined) {
      &:not(.mkt-alert--success):not(.mkt-alert--info):not(.mkt-alert--warning):not(.mkt-alert--error) {
        border-color: rgb(var(--mkt-surface--light));
        background: rgb(var(--mkt-surface--light));
        color: rgb(var(--mkt-text--light));
      }
      &.mkt-alert--success {
        border-color: rgb(var(--mkt-success--light));
        background: rgb(var(--mkt-success--light));
        color: rgb(var(--mkt-text--dark));
      }
      &.mkt-alert--info {
        border-color: rgb(var(--mkt-info--light));
        background: rgb(var(--mkt-info--light));
        color: rgb(var(--mkt-text--dark));
      }
      &.mkt-alert--warning {
        border-color: rgb(var(--mkt-warning--light));
        background: rgb(var(--mkt-warning--light));
        color: rgb(var(--mkt-text--dark));
      }
      &.mkt-alert--error {
        border-color: rgb(var(--mkt-error--light));
        background: rgb(var(--mkt-error--light));
        color: rgb(var(--mkt-text--dark));
      }
    }

    &.mkt-alert--outlined {
      &:not(.mkt-alert--success):not(.mkt-alert--info):not(.mkt-alert--warning):not(.mkt-alert--error) {
        border-color: rgb(var(--mkt-text--light));
        background: transparent;
        color: rgb(var(--mkt-text--light));
      }
      &.mkt-alert--success {
        border-color: rgb(var(--mkt-success--light));
        background: transparent;
        color: rgb(var(--mkt-success--light));
      }
      &.mkt-alert--info {
        border-color: rgb(var(--mkt-info--light));
        background: transparent;
        color: rgb(var(--mkt-info--light));
      }
      &.mkt-alert--warning {
        border-color: rgb(var(--mkt-warning--light));
        background: transparent;
        color: rgb(var(--mkt-warning--light));
      }
      &.mkt-alert--error {
        border-color: rgb(var(--mkt-error--light));
        background: transparent;
        color: rgb(var(--mkt-error--light));
      }
    }
  }

  &.theme--dark {
    &:not(.mkt-alert--outlined) {
      &:not(.mkt-alert--success):not(.mkt-alert--info):not(.mkt-alert--warning):not(.mkt-alert--error) {
        border-color: rgb(var(--mkt-surface--dark));
        background: rgb(var(--mkt-surface--dark));
        color: rgb(var(--mkt-text--dark));
      }
      &.mkt-alert--success {
        border-color: rgb(var(--mkt-success--dark));
        background: rgb(var(--mkt-success--dark));
        color: rgb(var(--mkt-text--light));
      }
      &.mkt-alert--info {
        border-color: rgb(var(--mkt-info--dark));
        background: rgb(var(--mkt-info--dark));
        color: rgb(var(--mkt-text--light));
      }
      &.mkt-alert--warning {
        border-color: rgb(var(--mkt-warning--dark));
        background: rgb(var(--mkt-warning--dark));
        color: rgb(var(--mkt-text--light));
      }
      &.mkt-alert--error {
        border-color: rgb(var(--mkt-error--dark));
        background: rgb(var(--mkt-error--dark));
        color: rgb(var(--mkt-text--light));
      }
    }

    &.mkt-alert--outlined {
      &:not(.mkt-alert--success):not(.mkt-alert--info):not(.mkt-alert--warning):not(.mkt-alert--error) {
        border-color: rgb(var(--mkt-text--dark));
        background: transparent;
        color: rgb(var(--mkt-text--dark));
      }
      &.mkt-alert--success {
        border-color: rgb(var(--mkt-success--dark));
        background: transparent;
        color: rgb(var(--mkt-success--dark));
      }
      &.mkt-alert--info {
        border-color: rgb(var(--mkt-info--dark));
        background: transparent;
        color: rgb(var(--mkt-info--dark));
      }
      &.mkt-alert--warning {
        border-color: rgb(var(--mkt-warning--dark));
        background: transparent;
        color: rgb(var(--mkt-warning--dark));
      }
      &.mkt-alert--error {
        border-color: rgb(var(--mkt-error--dark));
        background: transparent;
        color: rgb(var(--mkt-error--dark));
      }
    }
  }

  &.mkt-alert--outlined {
    border-width: thin !important;
    border-style: solid;
  }
  &.mkt-alert--relative {
    position: relative;
  }
  &.mkt-alert--fixed {
    position: fixed;
    z-index: 100;
  }
  &.mkt-alert--absolute {
    position: fixed;
    z-index: 1;
  }
  &.mkt-alert--statik {
    position: static;
  }
  &.mkt-alert--sticky {
    position: sticky;
  }
}

.mkt-alert--title {
  align-items: center;
  align-self: center;
  display: flex;
  font-size: 1.25rem;
  font-weight: 500;
  hyphens: auto;
  letter-spacing: 0.0125em;
  line-height: 1.75rem;
  overflow-wrap: normal;
  text-transform: none;
  word-break: normal;
  word-wrap: break-word;
}
