// grids
.col {
  width: 100%;
}

@each $name in $cols-list {
  .col-#{$name} {
    flex: 0 0 calc((100% / 12) * #{$name});
    max-width: calc((100% / 12) * #{$name});
  }
}

@each $size, $width in $grid-breakpoints {
  @media all and (min-width: #{$width}) {
    @each $name in $cols-list {
      .col-#{$size}-#{$name} {
        flex: 0 0 calc((100% / 12) * #{$name});
        max-width: calc((100% / 12) * #{$name});
      }
    }
  }
}

@each $name in $cols-list {
  .offset-#{$name} {
    margin-left: calc((100% / 12) * #{$name});
  }
}

@each $size, $width in $grid-breakpoints {
  @media all and (min-width: #{$width}) {
    @each $name in $cols-list {
      .offset-#{$size}-#{$name} {
        margin-left: calc((100% / 12) * #{$name});
      }
    }
  }
}
