.mk-grid--col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  padding: 12px;
}

.mk-grid--row.no-gutters > .mk-grid--col {
  padding: 0;
}

.mk-grid--row.is--dense > .mk-grid--col {
  padding: 4px;
}
