.mk-list-item--action {
  align-self: center;
  margin: 12px 0;
  display: inline-flex;
  min-width: 24px;

  &:first-child {
    margin-right: 16px;
  }

  &:last-of-type:not(:only-child) {
    margin-left: 16px;
  }
}
