@import '../../../assets/scss/main.scss';

.mkt-application {
  display: flex;
  position: relative;

  // colorScheme
  background: var(--mkt-background);
  color: var(--mkt-on-background);

  a {
    cursor: pointer;
  }

  &--wrap {
    flex: 1 1 auto;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
  }

  // Firefox overrides
  @-moz-document url-prefix() {
    @media print {
      .mkt-application {
        display: block;

        &--wrap {
          display: block;
        }
      }
    }
  }
}
