@import './variables';

.mk-app {
  display: flex;
  position: relative;
  background: $app-background-color;
  color: transparentize($app-text-color, 0.13);

  a {
    cursor: pointer;
  }

  &--wrap {
    flex: 1 1 auto;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
  }

  // Firefox overrides
  @-moz-document url-prefix() {
    @media print {
      .mk-app {
        display: block;

        &--wrap {
          display: block;
        }
      }
    }
  }
}
