@import '../../assets/scss/main.scss';

.theme--light.k-application {
  background: var(--manakit-background);
  color: var(--manakit-on-background);
}

.theme--dark.k-application {
  background: var(--manakit-background);
  color: var(--manakit-on-background);
}

.k-application {
  display: flex;
  position: relative;

  &--wrap {
    flex: 1 1 auto;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
  }

  // Firefox overrides
  @-moz-document url-prefix() {
    @media print {
      .k-application {
        display: block;

        &--wrap {
          display: block;
        }
      }
    }
  }
}
