.k-application {
  code,
  kbd {
    border-radius: $code-kbd-border-radius;
    font-size: $code-kbd-font-size;
    font-weight: $code-kbd-font-weight;
  }

  code {
    padding: $code-padding;
  }

  kbd {
    padding: $kbd-padding;
  }
}
