.k-navigation {
  //top: 0px;
  //transform: translateX(0%);

  background-color: #fff;

  display: flex;
  flex-direction: column;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  pointer-events: auto;
  //   top: 0;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, visibility, width;

  .k-navigation--wrap {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .k-navigation--border {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.12);
  }

  &.k-navigation--fixed {
    position: fixed;
    z-index: 6;
  }

  &.is-open {
  }

  &.k-navigation:not(.navigation--is-bottom) {
    top: 0px;
    width: 256px;
    height: 100%;
  }

  &.navigation--is-bottom {
    max-height: 50%;
    height: 100%;
    top: auto;
    bottom: 0;
    min-width: 100%;
  }
}
