.mk-expansion-panel-content {
  display: flex;

  &.mk-expansion-panel-content--close {
    display: none;
  }

  .mk-expansion-panel-content--wrap {
    padding: 0 24px 16px;
    flex: 1 1 auto;
    max-width: 100%;
  }
}
