.mkt-footer {
  align-items: center;
  display: flex;
  flex: 0 1 auto !important;
  flex-wrap: wrap;
  padding: 6px 16px;
  position: relative;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid;

  &:not(.theme--dark):not(.theme--light) {
    border-color: var(--mkt-surface);
    background: var(--mkt-surface);
    color: var(--mkt-text);
  }

  &.theme--light {
    border-color: var(--mkt-surface--light);
    background: var(--mkt-surface--light);
    color: var(--mkt-text--light);
  }

  &.theme--dark {
    border-color: var(--mkt-surface--dark);
    background: var(--mkt-surface--dark);
    color: var(--mkt-text--dark);
  }

  &.mkt-footer--outlined {
    background: transparent !important;

    &:not(.theme--light):not(.theme--dark) {
      color: var(--mkt-outlined);
    }

    &.theme--dark {
      color: var(--mkt-text--light);
    }

    &.theme--light {
      color: var(--mkt-text--dark);
    }
  }

  &.mkt-footer--fixed,
  &.mkt-footer--absolute {
    z-index: 3;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.mkt-footer--fixed {
    position: fixed;
  }

  &.mkt-footer--absolute {
    position: absolute;
    width: 100%;
  }
}
