.mk-table {
  line-height: 1.5;
  max-width: 100%;
  border-radius: 4px;

  //default
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);

  .mk-table--wrap {
    overflow-x: auto;
    overflow-y: hidden;

    table {
      width: 100%;
      border-spacing: 0;
      display: table;
      border-collapse: separate;
      box-sizing: border-box;
      text-indent: initial;
      border-spacing: 2px;
      border-color: grey;

      thead {
        tr {
          th {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-size: 0.75rem;
            height: 48px;
            padding: 0 16px;
            color: rgba(0, 0, 0, 0.6);

            text-align: left; //default
          }
        }

        tr:last-child > th {
          border-bottom: thin solid rgba(0, 0, 0, 0.12);
        }
      }

      tbody {
        tr {
          td {
            font-size: 0.875rem;
            height: 48px;
            padding: 0 16px;
          }

          :hover {
            background: #eee;
          }
        }

        tr:not(:last-child) {
          border-bottom: thin solid rgba(0, 0, 0, 0.12);
        }
      }
    }
  }

  &.mk-table--dense {
    .mk-table--wrap {
      table thead tr th,
      table tbody tr td {
        height: 32px;
      }
    }
  }

  &.mk-table--header-fixed {
    .mk-table--wrap {
      overflow-y: auto;

      table thead tr th {
        border-bottom: 0 !important;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
        background: #fff;
        box-shadow: inset 0 -1px 0 rgb(0 0 0 / 12%);
      }
    }
  }
}
