.mk-navigation-drawer {
  // display: flex;
  // flex-direction: column;
  // left: 0;
  // top: 0;
  // overflow: hidden;
  // pointer-events: auto;
  // height: 100%;
  // width: 300px;
  // max-width: 100%;
  // transform: translateX(0%);
  height: 100vh;
  top: 0px;
  transform: translateX(0%);
  width: 300px;
  background-color: rgb(39, 39, 39);
  border-color: rgb(39, 39, 39);

  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  pointer-events: auto;
  top: 0;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, visibility, width;

  // Color default
  background-color: #fff;

  &.mk-navigation-drawer--absolute,
  &.mk-navigation-drawer--fixed {
    z-index: 6;
  }

  &.mk-navigation-drawer--absolute {
    position: absolute;
  }

  &.mk-navigation-drawer--fixed {
    position: fixed;
  }

  &.navigation-drawer--right {
    left: auto;
    right: 0;
  }

  &.navigation-drawer--bottom {
    max-height: 50%;
    top: auto;
    bottom: 0;
    min-width: 100%;
  }

  &.navigation-drawer--temporary {
    z-index: 7;
    transform: translateX(-100%);
  }

  &.navigation-drawer--temporary.is--open {
    z-index: 7;
    transform: translateX(0%);
  }

  &.mk-navigation-drawer--open {
    transform: translateX(0%);
  }

  &.is--close {
    transform: translateX(-100%);
  }

  .mk-navigation-drawer--wrap {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .mk-navigation-drawer--border {
    background-color: rgba(0, 0, 0, 0.12);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
  }
}
