.mkt-bottom-navigation {
  display: flex;
  max-width: 100%;
  width: calc((100% - 0px) - 0px);
  overflow: hidden;
  transform: translateY(0%);
  transition: transform, color 0.2s, 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-style: solid;
  border-width: 0;
  border-radius: 0;

  &.mkt-bottom-navigation {
    bottom: 0px;
    z-index: 804;
    left: 0px;
  }

  &:not(.theme--dark):not(.theme--light) {
    border-color: rgb(var(--mkt-surface));
    background: rgb(var(--mkt-surface));
    color: rgb(var(--mkt-text));
  }

  &.theme--light {
    border-color: rgb(var(--mkt-surface--light));
    background: rgb(var(--mkt-surface--light));
    color: rgb(var(--mkt-text--light));
  }

  &.theme--dark {
    border-color: rgb(var(--mkt-surface--dark));
    background: rgb(var(--mkt-surface--dark));
    color: rgb(var(--mkt-text--dark));
  }

  &.mkt-bottom-navigation--absolute {
    position: absolute;
  }
  &.mkt-bottom-navigation--fixed {
    position: fixed;
  }

  .mkt-bottom-navigation--wrap {
    display: flex;
    flex: none;
    font-size: 0.75rem;
    justify-content: center;
    transition: inherit;
    width: 100%;

    > .mkt-btn,
    > a {
      font-size: inherit;
      height: 100%;
      max-width: 168px;
      min-width: 80px;
      text-transform: none;
      transition: inherit;
      width: auto;
      border-radius: 0;
      height: 100% !important;

      > .mkt-btn {
        font-size: inherit;
        height: 100%;
        max-width: 168px;
        min-width: 80px;
        text-transform: none;
        transition: inherit;
        width: auto;
        border-radius: 0;
        height: 100% !important;
      }
    }
  }

  &.mkt-bottom-navigation--grow .mkt-bottom-navigation--wrap {
    > .mkt-btn,
    > a {
      width: 100% !important;

      > .mkt-btn {
        width: 100% !important;
      }
    }
  }

  &.mkt-bottom-navigation--grow .mkt-bottom-navigation--wrap > .mkt-btn,
  &.mkt-bottom-navigation--grow .mkt-bottom-navigation--wrap > a {
    flex-grow: 1;
  }

  &.mkt-bottom-navigation--shift {
    .mkt-bottom-navigation--wrap > .mkt-btn,
    .mkt-bottom-navigation--wrap > a {
      &:not(.is--active) {
        .mkt-btn--content {
          display: none;
        }
      }
    }
  }

  &.mkt-bottom-navigation--flat {
    box-shadow: none !important;
  }
}
