.mk-list-item--avatar {
  align-self: flex-start;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-bottom: 16px;
  margin-top: 16px;

  //force
  height: 40px;
  min-width: 40px;
  width: 40px;

  &:first-child {
    margin-right: 16px;
  }

  &:last-of-type:not(:only-child) {
    margin-left: 16px;
  }
}
