/**
* @name flex
* @description Control the layout of flex containers with alignment, justification and more with responsive flexbox utilities.
* @type stylesheet
* 
* @author Laurent Grimaldi
* @package ManaKit
* @link https://developer.mozilla.org/fr/docs/Web/CSS/flex
**/

.flex-fill {
  flex: 1 1 auto !important;
}

@each $name in $flex {
  .flex-#{$name} {
    flex-direction: #{$name} !important;
  }
}

@each $size, $width in $grid-breakpoints {
  @media all and (min-width: #{$width}) {
    @each $name in $flex {
      .flex-#{$size}-#{$name} {
        flex-direction: #{$name} !important;
      }
    }
  }
}

@each $name in $flex-wrap {
  .flex-#{$name} {
    flex-wrap: #{$name} !important;
  }
}

@each $size, $width in $grid-breakpoints {
  @media all and (min-width: #{$width}) {
    @each $name in $flex-wrap {
      .flex-#{$size}-#{$name} {
        flex-wrap: #{$name} !important;
      }
    }
  }
}
