.mk-app {
  background: var(--manakit-background);
  color: var(--manakit-on-background);

  // Surface
  .mk-surface {
    background-color: var(--manakit-surface);
    border-color: var(--manakit-surface);
    color: var(--manakit-on-surface);
  }

  .mk-surface--outlined {
    border: thin solid var(--manakit-outline);
  }

  .mk-footer {
    background-color: var(--manakit-surface);
    border-color: var(--manakit-surface);
    color: var(--manakit-on-surface);
  }

  .mk-surface--shaped {
    border-radius: 24px 0;
  }

  // Themings dependencies
  &.theme--light {
    code {
      background-color: rgba(0, 0, 0, 0.05);
      color: currentColor;
    }
  }

  &.theme--dark {
    code {
      background-color: hsla(0, 0%, 100%, 0.1);
      color: currentColor;
    }
  }
}
