.mk-app {
  font-family: $body-font-family;
  line-height: $line-height-root;

  ::-ms-clear,
  ::-ms-reveal {
    display: none;
  }

  .blockquote {
    padding: 16px 0 16px 24px;
    font-size: 18px;
    font-weight: 300;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
  }

  code,
  kbd {
    border-radius: 3px;
    font-size: 85%;
    font-weight: 400;
  }

  code {
    padding: 0.2em 0.4em;
  }

  .fill-height {
    height: 100% !important;
  }
}

// iOS Safari hack to allow click events on body
@supports (-webkit-touch-callout: none) {
  body {
    cursor: pointer;
  }
}
