.mk-app {
  p {
    margin-bottom: $spacer * 4;
  }

  .text-no-wrap {
    white-space: nowrap;
  }
  .text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text-decoration-none {
    text-decoration: none;
  }
  .text-decoration-line-through {
    text-decoration: line-through;
  }
  .text-decoration-overline {
    text-decoration: overline;
  }
  .text-decoration-underline {
    text-decoration: underline;
  }

  .font-weight-black {
    font-weight: 900;
  }
  .font-weight-bold {
    font-weight: 700;
  }
  .font-weight-medium {
    font-weight: 500;
  }
  .font-weight-regular {
    font-weight: 400;
  }
  .font-weight-light {
    font-weight: 300;
  }
  .font-weight-thin {
    font-weight: 100;
  }
  .font-italic {
    font-style: italic;
  }

  .text--primary {
    opacity: 0.87;
  }
  .text--secondary {
    opacity: 0.6;
  }
  .text--disabled {
    opacity: 0.38;
  }

  .text-lowercase {
    text-transform: lowercase;
  }
  .text-uppercase {
    text-transform: uppercase;
  }
  .text-capitalize {
    text-transform: capitalize;
  }
  .text-none {
    text-transform: none;
  }
  .text-break {
    overflow-wrap: break-word;
    word-break: break-word;
  }
}
