.mk-v-stack--view {
  position: relative;

  // BODY
  > ul.mk-v-stack--body {
    display: block;
    list-style: none;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;

    /* Hide on Firefox */
    scrollbar-width: none;
    /* Hide on WebKit browsers */
    &::-webkit-scrollbar {
      display: none;
    }

    &.is--active {
      background: rgba(255, 255, 255, 0.3);
      cursor: grabbing;
      cursor: -webkit-grabbing;
      transform: scale(1);
    }
  }
}
