.mk-footer {
  align-items: center;
  display: flex;
  flex: 0 1 auto !important;
  flex-wrap: wrap;
  padding: 6px 16px;
  position: relative;
  transition-duration: 0.2s;
  transition-property: background-color, left, right;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &.footer-absolute,
  &.mk-footer--fixed {
    z-index: 4;
  }

  &.footer--absolute {
    position: absolute;
  }
  &.mk-footer--fixed {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  &.footer--outlined {
    border: thin solid rgba(0, 0, 0, 0.12);
  }

  &.footer--shaped {
    border-radius: 24px 0;
  }

  &.footer--tile {
    border-radius: 0;
  }

  &.footer--padless {
    padding: 0;
  }
}
