.k-application {
  @each $name, $value in $headings {
    .text-#{$name} {
      font-size: map-deep-get($headings, #{$name}, 'size') !important;
      font-weight: map-deep-get($headings, #{$name}, 'weight');
      letter-spacing: map-deep-get($headings, #{$name}, 'letter-spacing') !important;
      line-height: map-deep-get($headings, #{$name}, 'line-height');
      font-family: map-deep-get($headings, #{$name}, 'font-family') !important;
    }
  }

  @each $size, $width in $grid-breakpoints {
    @media all and (min-width: #{$width}) {
      @each $name, $value in $headings {
        .text-#{$size}-#{$name} {
          font-size: map-deep-get($headings, #{$name}, 'size') !important;
          font-weight: map-deep-get($headings, #{$name}, 'weight');
          letter-spacing: map-deep-get($headings, #{$name}, 'letter-spacing') !important;
          line-height: map-deep-get($headings, #{$name}, 'line-height');
          font-family: map-deep-get($headings, #{$name}, 'font-family') !important;
        }
      }
    }
  }

  p {
    margin-bottom: $spacer * 4;
  }
}
