.mk-divider {
  display: block;
  flex: 1 1 0px;
  max-width: 100%;
  height: 0;
  max-height: 0;
  border: solid;
  border-width: thin 0 0;
  transition: inherit;

  border-color: rgba(0, 0, 0, 0.12);

  overflow: visible;
  height: 0;

  &.is--inset:not(.divider-vertical) {
    margin-left: 72px;
    max-width: calc(100% - 72px);
  }

  &.is--inset.divider-vertical {
    margin-top: 8px;
    min-height: 0;
    max-height: calc(100% - 16px);
  }
}
