.mk-avatar {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  line-height: normal;
  position: relative;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;

  //default
  height: 48px;
  min-width: 48px;
  width: 48px;

  > img,
  > svg {
    border-radius: inherit;
    display: inline-flex;
    height: inherit;
    width: inherit;
  }

  &.is--left {
    margin-left: 16px;
  }

  &.is--right {
    margin-right: 16px;
  }

  &.avatar--tile {
    border-radius: 0;
  }
}
