.k-label {
  .k-label--wrap {
    display: grid;
    height: 100%;
    align-items: center;
  }

  &.k-label--left:not(.k-label--title-only):not(.k-label--icon-only),
  &.k-label--right:not(.k-label--title-only):not(.k-label--icon-only) {
    .k-label--wrap {
      width: 100%;
      grid-template-columns: 50% 50%;
    }
  }

  &.k-label--top:not(.k-label--title-only):not(.k-label--icon-only),
  &.k-label--bottom:not(.k-label--title-only):not(.k-label--icon-only) {
    .k-label--wrap {
      width: 100%;
      grid-template-columns: 100%;
      text-align: center;
    }
  }

  &.k-label--title-only {
    width: 100%;
    grid-template-columns: 100%;
    text-align: center;
  }

  &.k-label--icon-only {
    width: 100%;
    grid-template-columns: 100%;
  }
}
