.mkt-overlay {
  align-items: center;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 2000;

  &.mkt-overlay--absolute {
    position: absolute;
  }

  &.is--open {
    pointer-events: auto;

    > .mkt-overlay--screen {
      opacity: 0.46;
    }
  }

  .mkt-overlay--screen {
    opacity: 0;
    background-color: rgb(var(--mkt-overlay));
    border-color: rgb(var(--mkt-overlay));
    border-radius: inherit;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: inherit;
    width: 100%;
    will-change: opacity;
  }

  .mkt-overlay--wrap {
    position: relative;
  }
}
