.mkt-subheader {
  align-items: center;
  display: flex;
  height: 48px;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0 16px;

  &.mkt-subheader--inset {
    margin-left: 56px;
  }

  &:not(.theme--dark):not(.theme--light) {
    color: rgb(var(--mkt-text));
  }

  &.theme--light {
    color: rgb(var(--mkt-text--light));
  }

  &.theme--dark {
    color: rgb(var(--mkt-text--dark));
  }
}
