.mkt-app-bar {
  display: flex;

  &.mkt-app-bar--fixed {
    top: 0;
    left: 0;
    z-index: 1004;
    position: fixed;
    width: 100%;
  }

  &.mkt-app-bar .mkt-toolbar--wrap > .mkt-btn.mkt-btn--icon:first-child + .mkt-app-bar--title {
    padding-left: 20px;
  }

  .mkt-app-bar--title {
    flex: 1 1;
    font-size: 1.25rem;
    min-width: 0;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
    text-transform: none;

    .mkt-app-bar--title--placeholder {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
