.mk-list-item-icon {
  align-self: flex-start;
  margin: 16px 0;
  display: inline-flex;
  min-width: 24px;

  &:first-child {
    margin-right: 32px;
  }

  &:last-of-type:not(:only-child) {
    margin-left: 16px;
  }
}
