.mkt-sheet {
  display: block;
  border-style: solid;
  border-width: 0;
  border-radius: 0;

  &:not(.theme--dark):not(.theme--light) {
    &:not(.mkt-sheet--outlined) {
      border-color: rgb(var(--mkt-surface));
      background: rgb(var(--mkt-surface));
      color: rgb(var(--mkt-text));
    }

    &.mkt-sheet--outlined {
      border-color: rgb(var(--mkt-text));
      background: transparent;
      color: rgb(var(--mkt-text));
    }
  }

  &.theme--light {
    &:not(.mkt-sheet--outlined) {
      border-color: rgb(var(--mkt-surface--light));
      background: rgb(var(--mkt-surface--light));
      color: rgb(var(--mkt-text--light));
    }

    &.mkt-sheet--outlined {
      border-color: rgb(var(--mkt-text--light));
      background: transparent;
      color: rgb(var(--mkt-text--light));
    }
  }

  &.theme--dark {
    &:not(.mkt-sheet--outlined) {
      border-color: rgb(var(--mkt-surface--dark));
      background: rgb(var(--mkt-surface--dark));
      color: rgb(var(--mkt-text--dark));
    }

    &.mkt-sheet--outlined {
      border-color: rgb(var(--mkt-text--dark));
      background: transparent;
      color: rgb(var(--mkt-text--dark));
    }
  }

  &.mkt-sheet--outlined {
    border-width: thin !important;
  }
  &.mkt-sheet--relative {
    position: relative;
  }
  &.mkt-sheet--fixed {
    position: fixed;
    z-index: 100;
  }
  &.mkt-sheet--absolute {
    position: fixed;
    z-index: 1;
  }
  &.mkt-sheet--statik {
    position: static;
  }
  &.mkt-sheet--sticky {
    position: sticky;
  }
}
